<div class="dashboard-container">
  <br><div class="top-row">
    <a [routerLink]="['../inst-accounts']" class="card">
      <h4>Instructors</h4>
      <p>{{ employer.instAmount }}</p>
    </a>
    <a [routerLink]="['../inst-accounts']" class="card">
      <h4>Admins</h4>
      <p>{{employer.adminAmount}}</p>
    </a>
    <a [routerLink]="['../stu-accounts']" class="card">
      <h4>Students</h4>
      <p>{{employer.stuAmount}}</p>
    </a>
    <a [routerLink]="['../../courses']" class="card">
      <h4>Courses</h4>
      <p>{{employer.courseAmount}}</p>
    </a>
  </div>
  <div class="charts">
    <!-- <div class="chart1">
      <app-sample-chart></app-sample-chart>
    </div>
    <div class="chart2">
      <app-monthly-course-attendance></app-monthly-course-attendance>
    </div> -->
    <app-analysis></app-analysis>
  </div>
</div>