
<div class="w-60 p-5 bg-gray-100 shadow-lg flex flex-col h-full transition-all duration-300">
  <div class="flex flex-col items-start">
    <div *ngFor="let course of courses" class="text-xl font-semibold text-gray-900 mb-2">
       {{ encodeId(course.id) }}
    </div>
    <!-- Course Material -->
    <div>
      <h3 class="font-bold text-lg mb-4">Course Material</h3>
      <div>
        <div *ngFor="let module of modules" (click)="selectItem(module)"
             [ngClass]="{'bg-gray-200 border-l-4 border-blue-600': selectedItem === module}" 
             class="flex items-center mb-2 cursor-pointer p-2 rounded hover:bg-gray-300 transition-all duration-300">
          <input type="checkbox" class="custom-checkbox h-5 w-5" [checked]="selectedItem === module">
          <span class="ml-3 text-lg text-gray-900">{{ module }}</span>
        </div>
      </div>
    </div>


    <div (click)="selectItem('Grades')" [ngClass]="{'bg-gray-200 border-l-4 border-blue-600': selectedItem === 'Grades'}" 
         class="flex items-center mb-2 cursor-pointer p-2 rounded hover:bg-gray-300 transition-all duration-300">
      <span class="ml-3 text-lg text-gray-900">Assignment</span>
    </div>


    <div (click)="selectItem('Notes')" [ngClass]="{'bg-gray-200 border-l-4 border-blue-600': selectedItem === 'Notes'}" 
         class="flex items-center mb-2 cursor-pointer p-2 rounded hover:bg-gray-300 transition-all duration-300">
      <span class="ml-3 text-lg text-gray-900">Grade</span>
    </div>
  </div>
</div>

