.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown.show {
  display: block;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 0 8px;
  font-size: 14px;
  line-height: 40px;
  position: relative;
}

.nav-link:hover {
  color: blue;
}

.categories-menu {
  position: absolute;
  top: 40px; /* Adjust this based on your layout */
  left: 0;
  z-index: 1000; /* Ensure the menu appears above other content */
}
.search-container {
position: relative;
}

.search-dropdown {
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: white;
border: 1px solid #ccc;
max-height: 200px;
overflow-y: auto;
z-index: 1000;
}

.dropdown-item {
padding: 8px;
cursor: pointer;
}

.dropdown-item:hover {
background-color: #f0f0f0;
}
