.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown.show {
  display: block;
}

.search-container {
  position: relative; /* Ensure the parent container has relative positioning */
}

.search-dropdown {
  position: absolute;
  top: 100%; /* Position the dropdown right below the search box */
  left: 0;
  width: 100%; /* Ensure the dropdown is the same width as the search box */
  max-width: 200px; /* Set a maximum width for the dropdown */
  max-height: 150px; /* Set maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 5px; /* Reduce padding */
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
