<!-- Loading Indicator -->
<app-loading></app-loading>

<!-- Sidebar for Course Material -->
<div class="fixed w-72 h-full p-6 bg-gray-800 shadow-lg flex flex-col transition-transform duration-300 ease-in-out">
  <h3 class="text-lg font-bold text-white mb-6">Course Material</h3>
  <div class="flex-1 overflow-y-auto">
    <div class="bg-gray-700 rounded-lg p-2">
      <div *ngFor="let video of videos; let i = index"
           class="flex items-center justify-between p-3 mb-2 rounded-lg cursor-pointer transition duration-300 ease-in-out hover:bg-gray-600"
           [class.bg-gray-900]="i === currentVideoIndex"
           [class.text-white]="i === currentVideoIndex"
           (click)="selectVideo(i)">
        <div class="flex items-center">
          <input type="checkbox"
                 [checked]="video.completed"
                 class="mr-2 w-6 h-6 rounded-full border-gray-400 bg-gray-200 appearance-none checked:bg-green-500 checked:border-white focus:ring-0"
                 [ngClass]="{
                   'bg-green-500 border-white': video.completed,
                   'bg-gray-200 border-gray-400': !video.completed
                 }"
                 disabled>
          <span class="truncate text-white">{{ video.title }}</span>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button (click)="navigateToStudentExam(this.id)" *ngIf="hasExam && allVideosCompleted"
              class="bg-blue-900  flex items-center px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out">
        <mat-icon class="text-white mr-2">task</mat-icon>
        <span class="font-semibold">Exam</span>
      </button>
    </div>
    
  </div>
</div>

<!-- Main Content Area for Video Display -->
<div class="ml-72 flex-1 p-3 bg-gray-100 overflow-y-auto">
  <div class="w-full max-w-2xl mx-auto">
    <div class="bg-white p-4 border border-gray-200 rounded-lg shadow-lg">
      <div class="text-2xl font-semibold text-gray-800 mb-2">
        {{ currentVideo?.title }}
      </div>

      <!-- Video or Document Display -->
      <ng-container [ngSwitch]="getFileType(currentVideo?.url)">
        <ng-container *ngSwitchCase="'video'">
          <div class="relative rounded-lg overflow-hidden">
            <video #videoPlayer controls class="w-full rounded-lg p-3 shadow-lg selected-video">
              <source [src]="currentVideo?.url" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div class="relative rounded-lg overflow-hidden">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/illustration-of-folder-document-for-docx-file-vector.jpg" alt="Document Preview" class="w-full h-auto p-3 rounded-lg shadow-lg">
          </div>
        </ng-container>
      </ng-container>
   <!-- Progress Indicator -->
   <div class="relative w-full bg-gray-300 rounded-full h-3 mt-4">
    <div class="absolute top-0 left-0 h-full rounded-full bg-blue-900 transition-all duration-300 ease-in-out"
         [style.width.%]="progressPercentage"></div>
    <div class="absolute inset-0 flex items-center justify-center text-white font-bold text-sm"
         [ngClass]="{ 'text-black': progressPercentage < 50, 'text-white': progressPercentage >= 50 }">
      {{ progressPercentage | number:'1.0-0' }}%
    </div>
  </div>

      <!-- Next/Previous Lesson Buttons -->
      <div class="mt-4 flex justify-between">
        <button (click)="previousLesson()" class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 transition duration-300 ease-in-out">Previous Lesson</button>
        <button (click)="nextLesson()" class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 transition duration-300 ease-in-out">Next Lesson</button>
      </div>

   

      <!-- Mark as Done Button -->
      <div class="mt-4 flex justify-end">
        <button (click)="markAsDone(currentVideo, $event)"
                class="px-4 py-2 bg-blue-900 text-white rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out">
          Mark as Complete
        </button>
      </div>
    </div>
  </div>
</div>
