<div class="dashboard-container">
  <br><div class="top-row">
    <div class="card">
      <h4>Instructors</h4>
      <p> {{employer.instAmount}}</p>
    </div>
    <div class="card">
      <h4>Admins</h4>
      <p>{{employer.adminAmount}}</p>
    </div>
    <div class="card">
      <h4>Students</h4>
      <p>{{employer.stuAmount}}</p>
    </div>
    <div class="card">
      <h4>Courses</h4>
      <p>{{employer.courseAmount}}</p>
    </div>
  </div>
  <div class="charts">
    <div class="chart1">
      <app-sample-chart></app-sample-chart>
    </div>
    <div class="chart2">
      <app-monthly-course-attendance></app-monthly-course-attendance>
    </div>
  </div>
</div>