
<div class="dashboard-container">
    <br><div class="top-row">
      <div class="card">
        <h4>Instructors</h4>
        <p> 28</p>
      </div>
      <div class="card">
        <h4>Students</h4>
        <p>334</p>
      </div>
      <div class="card">
        <h4>Courses</h4>
        <p>59</p>
      </div>
      <div class="card">
        <h4>Rating</h4>
        <p>8.5</p>
      </div>
    </div>
    <div class="charts">
      <div class="chart">
        <h4>Result</h4>
        <app-sample-chart></app-sample-chart>
      </div>
      <div class="chart">
        <h4>Performance</h4>
        <app-sample-chart></app-sample-chart>
      </div>
    </div>
  </div>
  