<div class="p-4">
  <div class="mb-4 flex items-center">
    <input type="text" class="form-input w-full md:w-1/3 lg:w-1/4" placeholder="Search..." [(ngModel)]="searchTerm" />
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full  border border-gray-200 rounded-lg shadow-md">
      <thead class=" bg-blue-900 text-black">
        <tr>
          <th class="py-2 px-4">Profile</th>
          <th class="py-2 px-4">Name</th>
          <th class="py-2 px-4">Staff ID</th>
          <th class="py-2 px-4">Status</th>
          <th class="py-2 px-4">Role</th>
          <th class="py-2 px-4">Information</th>
          <th class="py-2 px-4">Role Update</th>
          <th class="py-2 px-4">Status Permission</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employer of pagedCards | filterData: searchTerm" class="hover:bg-gray-100">
          <td class="py-2 px-4">
            <button (click)="openProfileModal(employer.staffId)">
              <img [src]="employer.profilePhotoUrl" alt="Profile" class="w-12 h-12 rounded-full" />
            </button>
          </td>
          <td class="py-2 px-4">
            <button (click)="openProfileModal(employer.staffId)" class="text-blue-600 hover:underline">{{ employer.name }}</button>
          </td>
          <td class="py-2 px-4">{{ employer.staffId }}</td>
          <td class="py-2 px-4">{{ employer.status }}</td>
          <td class="py-2 px-4">{{ employer.role }}</td>
          <td class="py-2 px-4">
            <button (click)="openUpdateModal(employer.staffId)" class="btn btn-success">Update Employer</button>
          </td>
          <td class="py-2 px-4">
            <button (click)="openModal(employer)" class="btn btn-primary">Update</button>
          </td>
          <td class="py-2 px-4">
            <button (click)="openPermissionModal(employer)" class="btn btn-danger">Permission</button>
          </td>
        </tr>
        <tr *ngIf="pagedCards.length === 0">
          <td colspan="8" class="py-2 px-4 text-center">No employers found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator class="mt-4"
                 [length]="employers.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[4,8, 16, 24]"
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>

    
  <!-- Role Update Modal -->
  <div class="modal" [class.open]="modalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Update Employer Role</h2>
      <div class="form-group">
        <label for="role">Select Role:</label>
        <select id="role" [(ngModel)]="selectedEmployer.role">
          <option value="Student">Student</option>
          <option value="Admin">Admin</option>
          <option value="Instructor">Instructor</option>
        </select>
      </div>
      <div class="button-container">
        <button class="btn btn-primary" (click)="updateEmployerRole(selectedEmployer.staffId)">Update Role</button>
        <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
  <!-- Employer Update Modal -->
<div class="modal" [class.open]="updateOpen">
  <div class="modal-content">
    <span class="close" (click)="closeUpdateModal()">&times;</span>
    <h2>Update Employer Information</h2>
    <div class="form-group">
      <p><strong>Department:</strong> <input type="text" [(ngModel)]="selectedEmployer.department" name="department" required /></p>
      <p><strong>Staff ID:</strong> <input type="text" [(ngModel)]="selectedEmployer.staffId" name="staffId" required /></p>
      <p><strong>Name:</strong> <input type="text" [(ngModel)]="selectedEmployer.name" name="status" required /></p>
      <p><strong>Team:</strong> <input type="text" [(ngModel)]="selectedEmployer.team" name="team" required /></p>
      <p><strong>Door Log No:</strong> <input type="text" [(ngModel)]="selectedEmployer.doorLogNo" name="doorLogNo" required /></p>
      <p><strong>Division:</strong> <input type="text" [(ngModel)]="selectedEmployer.division" name="division" required /></p>
      <button class="btn btn-primary" (click)="updateEmployer(selectedEmployer.sr)">Update Role</button>
    </div>
  </div>
</div>
  <!-- Permission Update Modal -->
  <div class="modal" [class.open]="permissionModelOpen">
    <div class="modal-content">
      <span class="close" (click)="closePermissionModal()">&times;</span>
      <h2>Employer Permission</h2>
      <div class="form-group">
        <label for="role">Choice Permission:</label>
        <select id="role" [(ngModel)]="selectedEmployer.status">
          <option value="Active">Active</option>
          <option value="UnActive">UnActive</option>
        </select>
      </div>
      <div class="button-container">
        <button class="btn btn-primary" (click)="updatePermissionEmployer(selectedEmployer.staffId)">Update Role</button>
        <button class="btn btn-secondary" (click)="closePermissionModal()">Cancel</button>
      </div>
    </div>
  </div>
  
  <!-- Employer Profile Card -->
  <div class="profile-card" [class.open]="modalProfileOpen">
    <div class="profile-header">
      <h2>{{ selectedEmployer.name }}</h2>
      <p>{{ selectedEmployer.role }}</p>
      <button class="close" (click)="closeProfileModal()">&times;</button>
    </div>
    <div class="profile-details">
      <p><strong>Department:</strong> {{ selectedEmployer.department }}</p>
      <p><strong>Staff ID:</strong> {{ selectedEmployer.staffId }}</p>
      <p><strong>Status:</strong> {{ selectedEmployer.status }}</p>
      <p><strong>Team:</strong> {{ selectedEmployer.team }}</p>
      <p><strong>Door Log No:</strong> {{ selectedEmployer.doorLogNo }}</p>
      <p><strong>Email:</strong> {{ selectedEmployer.email }}</p>
      <p><strong>Division:</strong> {{ selectedEmployer.division }}</p>
    </div>
  </div>

  <br>
  <div class="flex items-center mb-4">
    <ng-container *ngFor="let column of columns">
      <input type="checkbox" [id]="'select' + column.key" class="form-checkbox text-indigo-600 mr-2" (change)="toggleColumnVisibility(column.key, $event)" [checked]="checkboxState[column.key]">
      <label [for]="'select' + column.key" class="mr-4">{{ column.label }}</label>
    </ng-container>
    </div>
    
    <!-- Download buttons -->
    <div class="mb-4">
    <button (click)="downloadFile('pdf')" class="btn btn-primary mr-2">Download PDF</button>
    <button (click)="downloadFile('excel')" class="btn btn-primary mr-2">Download Excel</button>
    <button (click)="downloadFile('csv')" class="btn btn-primary">Download CSV</button>
    </div>
    <div class="employers-container">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="py-2 px-4" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
                {{ column.label }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employer of pagedCards | filterData: searchTerm" class="hover:bg-gray-100">
              <td class="py-2 px-4" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
                <ng-container *ngIf="shouldDisplayImage(column.key); else textContent">
                  <img [src]="getItemValue(employer, column.key)" alt="Profile Image" style="width: 50px; height: auto;">
                </ng-container>
                <ng-template #textContent>
                  {{ getItemValue(employer, column.key) }}
                </ng-template>
              </td>
            </tr>
            <tr *ngIf="pagedCards.length === 0">
              <td colspan="8" class="text-center">No employers found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <mat-paginator [length]="employers.length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[4, 8, 16, 24]"
                     (page)="handlePageEvent($event)">
      </mat-paginator>
    </div> 



