<app-loading></app-loading>
<div class="flex">
  <app-student-course-details-side-bar></app-student-course-details-side-bar>


  <div class="video-gallery">
    <!-- Selected video and text next to it -->
    <div class="selected-video-container">
      <div class="selected-video-and-text">
        <div *ngIf="videos?.length" class="selected-file">
          <ng-container [ngSwitch]="getFileType(videos[currentVideoIndex].url)">
            <!-- Video File -->
            <ng-container *ngSwitchCase="'video'">
              <video controls class="selected-video">
                <source [src]="videos[currentVideoIndex].url" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-container>
            <!-- Non-Video Files (Document) -->
            <ng-container *ngSwitchDefault>
              <img src="https://static.vecteezy.com/system/resources/previews/022/609/064/non_2x/document-file-type-icon-cute-illustration-vector.jpg" alt="Document Thumbnail" class="selected-video">
            </ng-container>
          </ng-container>
        </div>
        <div class="video-text" *ngIf="videos?.length">
         
          <h2>{{ videos[currentVideoIndex].title }}</h2>
          <ul>
            <li>
              <mat-icon aria-hidden="false" aria-label="assignment icon" class="text-sm inline-block align-middle">assignment</mat-icon>
              <span class="inline-block align-middle">Assignment</span>
            </li>
            <li>
              <mat-icon aria-hidden="false" aria-label="exam icon" class="text-sm inline-block align-middle">task</mat-icon>
              <span class="inline-block align-middle">Exam</span>
            </li>
            <li>
              <mat-icon aria-hidden="false" aria-label="certificate icon" class="text-sm inline-block align-middle">military_tech</mat-icon>
              <span class="inline-block align-middle">Certificate</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
