<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 bg-gray-200">
  <div *ngFor="let course of courses" class="bg-white border border-gray-200 rounded-lg overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-300">
    <div class="p-6">
      <div class="flex items-center mb-4">
        <div class="flex-shrink-0">
          <!-- Uncomment and use when image URL is available -->
          <!-- <img class="h-16 w-16 rounded-md object-cover" [src]="course.imageUrl" [alt]="course.title"> -->
        </div>
        <div class="ml-4">
          <div class="text-2xl font-bold text-gray-800">{{ course.title }}</div>
          <div class="mt-2 text-md text-gray-600">{{ course.duration }}</div>
        </div>
      </div>
      <div class="text-sm text-gray-700 mb-4">{{ course.description }}</div>
      <div class="mb-4">
        <p class="font-semibold text-gray-800">This Course Has:</p>
        <ul class="mt-2 space-y-2">
          <li class="flex items-center">
            <mat-icon class="text-blue-500">live_tv</mat-icon>
            <span class="ml-2">{{ getVideoFiles(course.uploadFilesDTO).length }} videos</span>
          </li>
          <li class="flex items-center">
            <mat-icon class="text-blue-500">description</mat-icon>
            <span class="ml-2">{{ getDocumentFiles(course.uploadFilesDTO).length }} documents</span>
          </li>
          <!-- <li class="flex flex-col items-start">
            <mat-icon class="text-blue-500">assignment</mat-icon>
            <span class="ml-0 mt-1">Assignment</span>
          </li>
          <li class="flex flex-col items-start">
            <mat-icon class="text-blue-500" (click)="navigateToStudentExam(course.id)">task</mat-icon>
            <span class="ml-0 mt-1">Exam</span>
          </li>
          <li class="flex flex-col items-start">
            <mat-icon class="text-blue-500">military_tech</mat-icon>
            <span class="ml-0 mt-1">Certificate</span>
          </li> -->
        </ul>
      </div>
      <div class="border-t border-gray-200 mt-4 pt-4 flex justify-end space-x-4">
        <button mat-button color="warn" (click)="onUnenroll(course.id)">Unenroll</button>
        <a [routerLink]="[isAdmin ? '/admin/courseDetails' : (isInstructor ? '/instructor/courseDetails' : '/student/courseDetails'), encodeId(course.id)]">
          <button mat-button color="primary">Go to Course</button>
        </a>
     
      </div>
    </div>
  </div>
</div>
