<div class="profile-container mt-3">

  <button (click)="goBack()" class="absolute top-0 right-0 mt-4 mr-4 p-2 bg-gray-200 text-gray-700 rounded-full shadow-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="personal-details card"><br>
    <img src="{{instructorData.profilePhotoUrl}}" alt="Profile Picture" class="profile-picture">
    <h2>{{instructorData.name}}</h2>
    <!-- <button class="btn bg-blue-900" (click)="shareProfileLink()">Share profile link</button> -->
  </div>

  <div class="additional-info card">
    <h3>Education</h3>
    <ng-container *ngFor="let edu of educations">
      <div class="education-entry">
        <div class="education-details">
          <p><mat-icon>school</mat-icon>{{ edu.degree }} at {{ edu.institution }}</p>
          <p>{{ edu.startDate }} - {{ edu.graduationDate }}</p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="additional-info card">
    <h3>Other info</h3>
    <p><mat-icon aria-hidden="false" aria-label="email icon" class="text-sm">mail</mat-icon>{{ instructorData.email }}</p>
    <p><mat-icon aria-hidden="false" aria-label="department icon" class="text-sm">badge</mat-icon>{{ instructorData.department }}</p>
    <p><mat-icon aria-hidden="false" aria-label="role icon" class="text-sm">work</mat-icon>{{ instructorData.role }}</p>
  </div>
</div>

<div *ngIf="instructorData.role == 'Instructor'">
  <h2 class="popular-course-header">Course Creation</h2>
  <app-mycourse-view></app-mycourse-view>
</div>

<h2 class="popular-course-header">Enroll Courses</h2>
<app-enroll-view></app-enroll-view>

<h2 class="popular-course-header">Has Been Certificate Courses</h2>
<app-certificate-view></app-certificate-view>
