
<div class="employers-container p-4"> <!-- Search Input -->
  <div *ngIf="currentStep === 1">
    <button type="button" (click)="nextStep()" class="btn btn-outline bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
      To Update Data
    </button>
  <div class="search-form-container mb-6 flex justify-end">
    <div class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md">
      <input
        type="text"
        class="flex-grow p-3 border-none outline-none focus:ring-2 focus:ring-blue-400 rounded-l-lg"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />
      <button class="p-3 bg-blue-900 text-white rounded-r-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </div>
  
  <div class="flex mb-6 space-x-6">
    <!-- Column Selection -->
    <div class="flex items-center space-x-2 rounded-lg">
      <ng-container *ngFor="let column of columns">
        <input type="checkbox" [id]="'select' + column.key" class="w-5 h-5 bg-blue-900 text-blue-900 rounded border-gray-300 focus:ring-2 focus:ring-blue-400" (change)="toggleColumnVisibility(column.key, $event)" [checked]="checkboxState[column.key]">
        <label [for]="'select' + column.key" class="text-gray-700">{{ column.label }}</label>
      </ng-container>
    </div>
      <label for="selectAll" class="flex items-center space-x-1">
        <input type="checkbox"
               id="selectAll"
               class="w-5 h-5 bg-blue-900 text-blue-900 rounded border-gray-300 focus:ring-2 focus:ring-blue-400"
               (change)="toggleSelectAll($event)"
               [checked]="allSelected">
        <span>Select All</span>
      </label>

  </div>
  <div class="relative overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 text-sm rounded-lg">
      <thead class="bg-blue-900 text-white">
        <tr>
          <!-- Add checkbox column header -->
          <th class="py-2 px-3 text-left font-medium">
            <!-- <input type="checkbox" (change)="toggleSelectAll($event)"> -->
          </th>
          <th class="py-2 px-3 text-left font-medium" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let employer of pagedCards | filterData: searchTerm" class="hover:bg-blue-100">
          <!-- Add checkbox cell -->
          <td class="py-2 px-3">
            <!-- <input type="checkbox" [(ngModel)]="employer.selected"> -->
          </td>
          <td class="py-2 px-3" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
            <ng-container *ngIf="shouldDisplayImage(column.key); else textContent">
              <img [src]="getItemValue(employer, column.key)" alt="Profile Image" class="w-10 h-10 object-cover rounded-full">
            </ng-container>
            <ng-template #textContent>
              {{ getItemValue(employer, column.key) }}
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="pagedCards.length === 0">
          <td colspan="8" class="text-center py-3 text-gray-500">No employers found.</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Download Buttons -->
  <div class="flex justify-end bg-white space-x-2 mb-4">
    <!-- <h3 class="text-gray-700 flex mr-2">Export as:</h3> -->
 
    <mat-paginator [length]="employers.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[4, 8, 16, 24]"
    (page)="handlePageEvent($event)"
    class="my-2">
</mat-paginator>
<button (click)="downloadFile('pdf')" class=" text-blue-900 p-2 rounded transition">
  <mat-icon>picture_as_pdf</mat-icon>
</button>
<button (click)="downloadFile('excel')" class=" text-blue-900 p-2 rounded transition">
  <mat-icon>grid_on</mat-icon>
</button>
<button (click)="downloadFile('csv')" class=" text-blue-900 p-2 mr-1 rounded transition">
  <mat-icon>table_chart</mat-icon>
</button>
  </div>    
</div>

</div>




<!-- second table -->

<div *ngIf="currentStep === 2">
  <div class="flex space-x-4">
    <button type="button" (click)="prevStep()" class="btn btn-outline bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">To Download Data</button>
  </div>
<div class="employers-container p-6">
  <!-- Search Input -->
  <div class="flex justify-end mb-6">
    <div class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md">
      <input
        type="text"
        class="flex-grow p-3 border-none outline-none focus:ring-2 focus:ring-blue-400 rounded-l-lg"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />
      <button class="p-3 bg-blue-900 text-white rounded-r-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Table -->
  <div class="overflow-x-auto mb-6">
    <table class="min-w-full divide-y divide-gray-200 text-sm rounded-lg">
      <thead class="bg-blue-900 text-white">
        <tr>
          <th class="py-3 px-4 text-left">Profile</th>
          <th class="py-3 px-4 text-left">Name</th>
          <th class="py-3 px-4 text-left">Staff ID</th>
          <th class="py-3 px-4 text-left">Status</th>
          <th class="py-3 px-4 text-left">Role</th>
          <th class="py-3 px-4 text-left">Edit Inform</th>
          <th class="py-3 px-4 text-left">Edit Role</th>
          <th class="py-3 px-4 text-left">Edit Status</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let employer of pagedCards | filterData: searchTerm" class="hover:bg-blue-100">
          <td class="py-3 px-4"><img [src]="employer.profilePhotoUrl" alt="Profile" class="w-12 h-12 object-cover rounded-full" /></td>
          <td class="py-3 px-4">
            <button (click)="openProfileModal(employer.staffId)" class="text-blue-900 hover:underline">{{ employer.name }}</button>
          </td>
          <td class="py-3 px-4">{{ employer.staffId }}</td>
          <td class="py-3 px-4">{{ employer.status }}</td>
          <td class="py-3 px-4">{{ employer.role }}</td>
          <!-- <td class="py-3 px-4">
            <button (click)="openProfileModal(employer.staffId)" class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600">See Profile</button>
          </td> -->
          <td class="py-3 px-4">
            <button (click)="openUpdateModal(employer.staffId)" class="bg-blue-900 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Update Inform </button>
          </td>
          <td class="py-3 px-4">
            <button (click)="openModal(employer)" class="bg-blue-900 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Update Role</button>
          </td>
          <td class="py-3 px-4">
            <button (click)="openPermissionModal(employer)" class="bg-blue-900 text-white py-2 px-4 rounded-lg hover:bg-red-600">Permission</button>
          </td>
        </tr>
        <tr *ngIf="pagedCards.length === 0">
          <td colspan="8" class="text-center py-3 text-gray-500">No employers found.</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="employers.length" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 16, 24]" (page)="handlePageEvent($event)" ></mat-paginator>

  </div>


  <!-- Role Update Modal -->
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50" *ngIf="modalOpen">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold text-blue-900">Update Employer Role</h2>
        <button class="text-gray-400 hover:text-gray-600" (click)="closeModal()">&times;</button>
      </div>
      <div class="mb-4">
        <label for="role" class="block text-gray-700 mb-2">Select Role:</label>
        <select id="role" [(ngModel)]="selectedEmployer.role" class="w-full p-2 border border-gray-300 rounded-lg">
          <option value="Student">Student</option>
          <option value="Admin">Admin</option>
          <option value="Instructor">Instructor</option>
        </select>
      </div>
      <div class="flex justify-end space-x-2">
        <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600" (click)="updateEmployerRole(selectedEmployer.staffId)">Update Role</button>
        <button class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Permission Update Modal -->
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50" *ngIf="permissionModelOpen">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold text-blue-900">Employer Permission</h2>
        <button class="text-gray-400 hover:text-gray-600" (click)="closePermissionModal()">&times;</button>
      </div>
      <div class="mb-4">
        <label for="status" class="block text-gray-700 mb-2">Select Permission:</label>
        <select id="status" [(ngModel)]="selectedEmployer.status" class="w-full p-2 border border-gray-300 rounded-lg">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
      </div>
      <div class="flex justify-end space-x-2">
        <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600" (click)="updatePermissionEmployer(selectedEmployer.staffId)">Update Permission</button>
        <button class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600" (click)="closePermissionModal()">Cancel</button>
      </div>
    </div>
  </div>


<!-- Employer Update Modal -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" [ngClass]="{'hidden': !updateOpen}">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-lg mx-4">
    <div class="flex items-center justify-between p-4 border-b border-gray-200">
      <h2 class="text-xl font-semibold">Update Employer Information</h2>
      <button type="button" class="text-gray-600 hover:text-gray-900" (click)="closeUpdateModal()">&times;</button>
    </div>
    <div class="p-6">
      <form (ngSubmit)="updateEmployer(selectedEmployer.sr)" #updateForm="ngForm">
        <div class="mb-4">
          <label for="department" class="block text-sm font-medium text-gray-700">Department:</label>
          <input type="text" id="department" [(ngModel)]="selectedEmployer.department" name="department" #department="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="department.invalid && department.touched" class="text-red-500 text-sm">Department is required.</div>
        </div>
        <div class="mb-4">
          <label for="staffId" class="block text-sm font-medium text-gray-700">Staff ID:</label>
          <input type="text" id="staffId" [(ngModel)]="selectedEmployer.staffId" name="staffId" #staffId="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="staffId.invalid && staffId.touched" class="text-red-500 text-sm">Staff ID is required.</div>
        </div>
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
          <input type="text" id="name" [(ngModel)]="selectedEmployer.name" name="name" #name="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="name.invalid && name.touched" class="text-red-500 text-sm">Name is required.</div>
        </div>
        <div class="mb-4">
          <label for="team" class="block text-sm font-medium text-gray-700">Team:</label>
          <input type="text" id="team" [(ngModel)]="selectedEmployer.team" name="team" #team="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="team.invalid && team.touched" class="text-red-500 text-sm">Team is required.</div>
        </div>
        <div class="mb-4">
          <label for="doorLogNo" class="block text-sm font-medium text-gray-700">Door Log No:</label>
          <input type="text" id="doorLogNo" [(ngModel)]="selectedEmployer.doorLogNo" name="doorLogNo" #doorLogNo="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="doorLogNo.invalid && doorLogNo.touched" class="text-red-500 text-sm">Door Log No is required.</div>
        </div>
        <div class="mb-4">
          <label for="division" class="block text-sm font-medium text-gray-700">Division:</label>
          <input type="text" id="division" [(ngModel)]="selectedEmployer.division" name="division" #division="ngModel" required class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
          <div *ngIf="division.invalid && division.touched" class="text-red-500 text-sm">Division is required.</div>
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="updateForm.invalid" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Update Inform</button>
        </div>
      </form>
    </div>
  </div>
</div>
