<div class="employers-container">
  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" />

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Profile</th>
          <th>Name</th>
          <th>Staff ID</th>
          <th>Status</th>
          <th>Role</th>
          <th>Profile</th>
          <th>Role Update</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employer of pagedCards | filterData: searchTerm">
          <td><img [src]="employer.profilePhotoUrl" alt="Profile" width="100" height="50" /></td>
          <td><button (click)="openProfileModal(employer.staffId)">{{ employer.name }}</button></td>
          <td>{{ employer.staffId }}</td>
          <td>{{ employer.status }}</td>
          <td>{{ employer.role }}</td>
          <td><button (click)="openProfileModal(employer.staffId)" class="btn btn-success">See Profile</button></td>
          <td><button (click)="openModal(employer)" class="btn btn-primary">Update</button></td>
          <td><button (click)="openPermissionModal(employer)" class="btn btn-danger">Permission</button></td>
        </tr>
        <tr *ngIf="pagedCards.length === 0">
          <td colspan="8" class="text-center">No employers found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator [length]="employers.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[4,8, 16, 24]"
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>

  
<!-- Role Update Modal -->
<div class="modal" [class.open]="modalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Update Employer Role</h2>
    <div class="form-group">
      <label for="role">Select Role:</label>
      <select id="role" [(ngModel)]="selectedEmployer.role">
        <option value="Student">Student</option>
        <option value="Admin">Admin</option>
        <option value="Instructor">Instructor</option>
      </select>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" (click)="updateEmployerRole(selectedEmployer.staffId)">Update Role</button>
      <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>

<!-- Permission Update Modal -->
<div class="modal" [class.open]="permissionModelOpen">
  <div class="modal-content">
    <span class="close" (click)="closePermissionModal()">&times;</span>
    <h2>Employer Permission</h2>
    <div class="form-group">
      <label for="role">Choice Permission:</label>
      <select id="role" [(ngModel)]="selectedEmployer.status">
        <option value="Active">Active</option>
        <option value="UnActive">UnActive</option>
      </select>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" (click)="updatePermissionEmployer(selectedEmployer.staffId)">Update Role</button>
      <button class="btn btn-secondary" (click)="closePermissionModal()">Cancel</button>
    </div>
  </div>
</div>

<!-- Employer Profile Card -->
<div class="profile-card" [class.open]="modalProfileOpen">
  <div class="profile-header">
    <h2>{{ selectedEmployer.name }}</h2>
    <p>{{ selectedEmployer.role }}</p>
    <button class="close" (click)="closeProfileModal()">&times;</button>
  </div>
  <div class="profile-details">
    <p><strong>Department:</strong> {{ selectedEmployer.department }}</p>
    <p><strong>Staff ID:</strong> {{ selectedEmployer.staffId }}</p>
    <p><strong>Status:</strong> {{ selectedEmployer.status }}</p>
    <p><strong>Team:</strong> {{ selectedEmployer.team }}</p>
    <p><strong>Door Log No:</strong> {{ selectedEmployer.doorLogNo }}</p>
    <p><strong>Email:</strong> {{ selectedEmployer.email }}</p>
    <p><strong>Division:</strong> {{ selectedEmployer.division }}</p>
  </div>
</div>

<br>
    <a>Report</a>
<!-- Column selection checkboxes -->
<div class="flex items-center mb-4">
<ng-container *ngFor="let column of columns">
  <input type="checkbox" [id]="'select' + column.key" class="form-checkbox text-indigo-600 mr-2" (change)="toggleColumnVisibility(column.key, $event)" [checked]="checkboxState[column.key]">
  <label [for]="'select' + column.key" class="mr-4">{{ column.label }}</label>
</ng-container>
</div>

<!-- Download buttons -->
<div class="mb-4">
<button (click)="downloadFile('pdf')" class="btn btn-primary mr-2">Download PDF</button>
<button (click)="downloadFile('excel')" class="btn btn-primary mr-2">Download Excel</button>
<button (click)="downloadFile('csv')" class="btn btn-primary">Download CSV</button>
</div>
<div class="employers-container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="py-2 px-4" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employer of pagedCards | filterData: searchTerm" class="hover:bg-gray-100">
          <td class="py-2 px-4" *ngFor="let column of columns" [ngClass]="{'hidden': !shouldDisplayColumn(column.key)}">
            <ng-container *ngIf="shouldDisplayImage(column.key); else textContent">
              <img [src]="getItemValue(employer, column.key)" alt="Profile Image" style="width: 50px; height: auto;">
            </ng-container>
            <ng-template #textContent>
              {{ getItemValue(employer, column.key) }}
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="pagedCards.length === 0">
          <td colspan="8" class="text-center">No employers found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator [length]="employers.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[4, 8, 16, 24]"
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
