<div class="profile-container">
  <div class="personal-details card">
    <img src="assets/profile-picture.jpg" alt="Profile Picture" class="profile-picture">
    <h2>Yupaing Moe</h2>
    <button class="btn secondary">Update profile photo</button>
    <button class="btn primary">Share profile link</button>
  </div>

  <div class="additional-info card">
    <h3>Education</h3>
    <ng-container *ngFor="let edu of educations">
      <div class="education-entry">
        <p><mat-icon>school</mat-icon>{{ edu.degree }} at {{ edu.institution }}</p>
        <p>{{ edu.startDate }} - {{ edu.graduationDate }}</p>
        <button mat-button (click)="editEducation(edu)">
          <mat-icon aria-hidden="false" aria-label="post icon" class="text-sm">edit</mat-icon>
          Edit</button>
      </div>
    </ng-container>
    <button class="btn primary" (click)="openAddEducationDialog()">Add Education</button>
  </div>

  <div class="additional-info card">
    <h3>Other info</h3>
    <p><mat-icon aria-hidden="false" aria-label="post icon" class="text-sm">person_apron</mat-icon>Staff ID:</p>
    <p><mat-icon aria-hidden="false" aria-label="post icon" class="text-sm">mail</mat-icon>Email:</p>
    <p><mat-icon aria-hidden="false" aria-label="post icon" class="text-sm">badge</mat-icon>Department:</p>
    <button class="btn primary" (click)="openAddEducationDialog()">
      Update your Info
    </button>
  </div>
<!-- 
  <h3>Additional Info</h3>
  <p>⭐ This is a test paragraph. Are you Superman?</p>
  <button class="btn primary">Add Additional Info</button> -->
</div>
<h2 class="popular-course-header">My Courses</h2>
<app-mycourse></app-mycourse>
<app-footer></app-footer>
