<div class="flex min-h-screen">
  <!-- Sidebar -->
  <div class="sidebar fixed top-0 left-0 bg-navy h-screen w-64 text-white flex flex-col">
    <ul class="w-full flex flex-col">
      <li class="group">
        <br><br><br><br>
        <a routerLink="course-creation" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
          <mat-icon class="nav-icon mr-2 mb-2 text-2xl text-white">auto_stories</mat-icon>
          <span class="nav-text flex-grow">Create Course</span>
        </a>
      </li>
      <li class="group">
        <a routerLink="unapprove-course" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
          <mat-icon class="nav-icon mr-2 mb-2 text-2xl text-white">library_books</mat-icon>
          <span class="nav-text flex-grow">Create Exam</span>
        </a>
      </li>
      <li class="group">
        <a routerLink="create-certificate" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
          <mat-icon class="nav-icon mr-2 mb-2 text-2xl text-white">workspace_premium</mat-icon>
          <span class="nav-text flex-grow">Certificate</span>
        </a>
      </li>
      <li class="group">
        <a routerLink="all-certificates" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
          <mat-icon class="nav-icon mr-2 mb-2 text-2xl text-white">workspace_premium</mat-icon>
          <span class="nav-text flex-grow">Certificate</span>
        </a>
      </li>
    </ul>
  </div>

</div>
