<div class="sidebar bg-gray-800 h-screen text-white">
  <ul class="w-full">
    <li class="group">
      <a routerLink="course-creation" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
        <mat-icon class="nav-icon mr-2 text-2xl text-white">fact_check</mat-icon>
        <span class="nav-text flex-grow">Create Course</span>
      </a>
    </li>
    <li class="group">
      <a routerLink="unapprove-course" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
        <mat-icon class="nav-icon mr-2 text-2xl text-white">summarize</mat-icon>
        <span class="nav-text flex-grow">Unapprove Course</span>
      </a>
    </li>
    <li class="group">
      <a routerLink="certificate" class="flex items-center px-4 py-2 text-white no-underline group-hover:bg-gray-700">
        <mat-icon class="nav-icon mr-2 text-2xl text-white">summarize</mat-icon>
        <span class="nav-text flex-grow">Certificate</span>
      </a>
    </li>
  </ul>
</div>

