<div class="sidebar">
  <div class="profile-section">
    <img src="{{adminData.profilePhotoUrl}}" alt="Profile Picture" class="profile-pic mx-auto">
    <h3>{{adminData.name}}</h3>
    <p>{{adminData.email}}</p>
  </div>
  <mat-nav-list>
    <a mat-list-item routerLink="overview">
      <mat-icon class="nav-icon">home</mat-icon>
      <span class="nav-text">Overview</span>
    </a>
    <a mat-list-item [matMenuTriggerFor]="accountsMenu" class="dropdown-trigger">
      <mat-icon class="nav-icon">manage_accounts</mat-icon>
      <span class="nav-text">Accounts</span>
      <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #accountsMenu="matMenu" class="custom-menu">
      <button mat-menu-item routerLink="inst-accounts">
        <mat-icon class="bullet-icon">groups</mat-icon>
        Instructors & Admin
      </button>
      <button mat-menu-item routerLink="stu-accounts">
        <mat-icon class="bullet-icon">groups</mat-icon>
        Students
      </button>
    </mat-menu>
    <a mat-list-item routerLink="employee-data">
      <mat-icon class="nav-icon">upload_file</mat-icon>
      <span class="nav-text">Uplad Data</span>
    </a>
    <a mat-list-item routerLink="fact-check">
      <mat-icon class="nav-icon">fact_check</mat-icon>
      <span class="nav-text">Approval</span>
    </a>
    <a mat-list-item routerLink="report">
      <mat-icon class="nav-icon">summarize</mat-icon>
      <span class="nav-text">Reports</span>
    </a>
    <a mat-list-item routerLink="graph">
      <mat-icon class="nav-icon">bar_chart</mat-icon>
      <span class="nav-text">Graph</span>
    </a>
  </mat-nav-list>
</div>
