<div  class="grid grid-cols-1 px-4 gap-4 min-[1027px]:grid-cols-4 lg:gap-8">
    <div class=" max-[1027px]:hidden">
        <!-- <app-chatacc-list class="w-full flex justify-center" ></app-chatacc-list> -->
    </div>
    <div class="lg:col-span-2 gap-4 flex flex-col">
        <!-- <app-chat-user-page></app-chat-user-page>   -->
    </div>
    <div class="gap-3 flex flex-col max-[1027px]:hidden">
        <app-chatacc-list class="w-full flex justify-center" ></app-chatacc-list>
        <!-- <app-show-followers class="w-full flex justify-center" ></app-show-followers> -->
    </div>
</div>
