<div class="course-container">
    <div class="course-header">
      <h1>Programming with JavaScript</h1>
      <p class="subtitle">
        This course is part of multiple programs. <a href="#">Learn more</a>
      </p>
      <div class="languages">
        <span>Taught in English | </span>
        <a href="#">20 languages available</a>
        <span> | Some content may not be translated</span>
      </div>
    </div>
    <div class="course-body">
      <div class="instructor-info">
        <img src="https://via.placeholder.com/150" alt="Meta Logo" class="meta-logo" />
        <div class="enrollment-info">
          <p class="enrolled-count">
            <mat-icon aria-hidden="false" aria-label="grade icon" class="text-sm">grade</mat-icon>
            174,807 already enrolled
          </p>
          <p class="enrolled-count">
            <mat-icon aria-hidden="false" aria-label="grade icon" class="text-sm">grade</mat-icon>
            174,80 already have certificate
          </p>
          <p class="enrolled-count">
            <mat-icon aria-hidden="false" aria-label="grade icon" class="text-sm">grade</mat-icon>
            174,87 reviewed
          </p>
        </div>
      </div>
    </div>
    
    
    <div class="course-details">
      <div class="rating">
        <span class="rating-value">4.7</span>
        <span class="rating-stars">★</span>
        <span class="rating-reviews">(3,900 reviews)</span>
        <span class="rating-likes">95%</span>
      </div>
      <div class="course-level">
        <span>Beginner level</span>
        <span>Recommended experience</span>
      </div>
      <div class="course-duration">
        <span><button class="view-modules" (click)="toggleModulesModal()">View Course Modules</button></span>
      </div>
      <div class="course-schedule">
        <span>Flexible schedule</span>
        <span>Learn at your own pace</span>
      
      
    </div>
  </div>
</div>
  <br><br>
  <h2 class="popular-course-header">Rating Details</h2>
  <app-rating></app-rating>
  

<!-- Course Modules Modal -->
<div *ngIf="showModulesModal" id="modulesModal" class="modal-course-module modal">
  <div class="modal-content">
    <span class="close" (click)="toggleModulesModal()">&times;</span>
    <h2 class="module-header"><b>Course Modules</b></h2>
    <div class="module-list">
      <div class="module" *ngFor="let module of modules">
        <h3>{{module.title}}</h3>
        <p>{{module.description}}</p>
        <div class="module-details">
          <span>{{module.details}}</span>
          <span>{{module.included}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>