<div class="course-creation-container">
    <aside class="sidebar">
      <h3><b>Plan your course</b></h3>
      <ul class="nav-list">
        <li class="disabled">Course Message</li>
        <li class="disabled">Setup Course</li>
      </ul>
      
      <h3><b>Publish your course</b></h3>
     <ul class="nav-list">
        <li (click)="toggleView('structure')" [class.active]="currentView === 'structure'">Course Structure</li>
        <li (click)="toggleView('intended')" [class.active]="currentView === 'intended'">Intended Structure</li>
      </ul>
    </aside>
  
    <div class="course-creation-content">
      <div class="course-creation" *ngIf="currentView === 'structure'">
        <h2>Create New Course</h2>
        <form (ngSubmit)="saveCourse()">
          <div>
            <label for="title">Course Title:</label>
            <input type="text" id="title" [(ngModel)]="course.title" name="title" required>
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="course.description" name="description" required></textarea>
          </div>
  
          <div *ngFor="let section of course.sections" class="section">
            <h3>Section {{ section.title }}</h3>
            <input type="text" [(ngModel)]="section.title" placeholder="Section Title" name="section-title-{{section.id}}" required>
            <button type="button" (click)="addLecture(section.id, 'video')" class="icon-button">
              <mat-icon>video_library</mat-icon>
            </button>
            <button type="button" (click)="addLecture(section.id, 'text')" class="icon-button">
              <mat-icon>text_fields</mat-icon>
            </button>
            <button type="button" (click)="addLecture(section.id, 'exam')" class="icon-button">
              <mat-icon>assignment</mat-icon>
            </button>
            <button type="button" (click)="addLecture(section.id, 'assignment')" class="icon-button">
              <mat-icon>assignment_turned_in</mat-icon>
            </button>
  
            <div *ngFor="let lecture of section.lectures" class="lecture">
              <div *ngIf="lecture.type === 'video'">
                <label>Video Title:</label>
                <input type="text" [(ngModel)]="lecture.title" placeholder="Lecture Title" name="video-title-{{lecture.id}}" required>
                <label>Video URL:</label>
                <input type="text" [(ngModel)]="lecture.content" placeholder="Video URL" name="video-url-{{lecture.id}}" required>
              </div>
              <div *ngIf="lecture.type === 'text'">
                <label>Text Title:</label>
                <input type="text" [(ngModel)]="lecture.title" placeholder="Lecture Title" name="text-title-{{lecture.id}}" required>
                <label>Content:</label>
                <textarea [(ngModel)]="lecture.content" placeholder="Lecture Content" name="text-content-{{lecture.id}}" required></textarea>
              </div>
              <!-- Add similar blocks for 'exam' and 'assignment' -->
            </div>
          </div>
  
          <button type="button" (click)="addSection()" class="icon-button">
            <mat-icon>add</mat-icon>
          </button>
          <button type="submit">Save Course</button>
        </form>
      </div>
  
      <div class="intended-structure" *ngIf="currentView === 'intended'">
        <!-- Intended structure view -->
        <h2>Intended Structure</h2>
        <form (ngSubmit)="submitIntendedStructure()">
          <div class="learning-objectives">
            <label for="learning-objectives">What will students learn in your course?</label>
            <p>You must enter at least 4 learning objectives or outcomes that learners can expect to achieve after completing your course.</p>
            <div *ngFor="let objective of learningObjectives; let i = index" class="objective-item">
              <input type="text" [(ngModel)]="objective.text" name="objective-{{i}}" required maxlength="160" placeholder="Example: Define the roles and responsibilities of a project manager">
              <button type="button" (click)="removeLearningObjective(i)" class="icon-button">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
            <button type="button" (click)="addLearningObjective()" class="icon-button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="requirements">
            <label for="requirements">What are the requirements or prerequisites for taking your course?</label>
            <div *ngFor="let requirement of requirements; let i = index" class="requirement-item">
              <textarea id="requirement-{{i}}" [(ngModel)]="requirement.text" name="requirement-{{i}}" placeholder="Example: No programming experience needed. You will learn everything you need to know" required></textarea>
              <div class="button-group">
                <button type="button" (click)="removeRequirement(i)" class="icon-button">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <button type="button" (click)="editRequirement(i)" class="icon-button">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
            <button type="button" (click)="addRequirement()" class="icon-button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <button type="submit">Submit Intended Structure</button>
        </form>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
